.main {
  margin: 0 10px 10px 10px;
}

.form {
  display: flex;
}

.div-add-actual-streamer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.streamer-div {
  display: grid;
  grid-template-columns: 40% 35% 25%;
  justify-content: space-between;
  align-items: center;
}

.streamerName-li {
  margin-right: 11px;
  font-size: 11px;
}

.streamerState-li {
  font-size: 11px;
  font-weight: bold;
}

.small-font {
  font-size: 11px;
}